@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

/* Commons */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #000000;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

/* Typography */
* {
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Instrument Serif", serif;
}

a {
  color: inherit;
}

/* Layout */
main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100svh;
  min-height: 100vh;
}

/* Main content */
.content {
  aspect-ratio: 16/9;
  margin: 50px;
  position: relative;
  width: 100%;
}

iframe {
  border: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Modals */
.modal-open {
  position: relative;
}

/* Adjust content sizing */
@media (min-aspect-ratio: 1680/1000) {
  .content {
    height: calc(100svh - 100px);
    width: auto;
  }
}
